<%- include('includes/head');  %> 
<%- include('includes/navbar'); %> 

<div class="container-fluid">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="col-8 mt-3">
            <p class="h1 text-center">Hi, <%= user.email  %> </p>
            <p class="text-center lead">You're already logged in.</p>
            <p class="text-center"><a href="/" class="btn btn-success"> Check your agenda.</a></p>
        </div>

        <%- include('includes/messages') %> 

    </div>
</div>

<%- include('includes/footer');  %> 